@font-face {
    font-family: 'GothamRoundedBook';
    src: url('/assets/fonts/GothamRoundedBook.ttf');
}

@font-face {
    font-family: 'Modeseven';
    src: url('/assets/fonts/Modeseven.ttf');
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a {
    color: rgb(38, 84, 133);
    font-weight: bold;
    text-decoration: none;
}

body {
    background: #242424;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 60px;
}

* {
    font-family: 'Modeseven', sans-serif;
    font-weight: 300;
}

.case {
    position: absolute;
    width: 17rem;
    height: 10rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text {
    font-family: 'GothamRoundedBook', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 6rem;
    font-weight: 200;
    display: inline-block;
    position: absolute;
    bottom: 0;
    -webkit-animation: text 1050ms ease-in infinite;
    animation: text 1050ms ease-in infinite;
    -webkit-transform: translatez(0);
    transform: translatez(0);
}

/* .text-e {
    left: 0.5rem;
    -webkit-transform: translate3d(0, -4rem, 0);
    transform: translate3d(0, -4rem, 0);
    -webkit-animation: text-t 1050ms ease-in infinite;
    animation: text-t 1050ms ease-in infinite;
} */

.text-e {
    left: 4rem;
    -webkit-animation-delay: 950ms;
    animation-delay: 950ms;
}

.text-n {
    left: 7rem;
    -webkit-animation-delay: 920ms;
    animation-delay: 920ms;
}

.text-i {
    left: 10rem;
    -webkit-animation-delay: 890ms;
    animation-delay: 890ms;
}

.text-a {
    left: 11rem;
    -webkit-animation-delay: 860ms;
    animation-delay: 860ms;
}

.text-f {
    left: 14rem;
    -webkit-animation-delay: 830ms;
    animation-delay: 830ms;
}

.text-e2 {
    left: 16rem;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.coast {
    position: absolute;
    left: 1.3rem;
    bottom: 1.7rem;
    width: 6.2rem;
    height: 2.2rem;
    display: inline-block;
    -webkit-animation: coast 1100ms linear infinite;
    animation: coast 1100ms linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.wave-rel-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 3rem;
    perspective: 3rem;
    -webkit-perspective-origin: 0%, 50%;
    perspective-origin: 0%, 50%;
}

.wave {
    position: absolute;
    width: 6.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    background: radial-gradient(ellipse at center, #6097d2 0%, #3371b2 73%, #265485 100%);
    display: inline-block;
    -webkit-animation: wave 1100ms linear infinite;
    animation: wave 1100ms linear infinite;
    will-change: width;
    -webkit-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0);
}

.delay {
    -webkit-animation-delay: 1050ms;
    animation-delay: 1050ms;
}

@-webkit-keyframes text {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    30% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    45% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes text {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    30% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    45% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes text-t {
    0% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    38% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    69% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }
}

@keyframes text-t {
    0% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    38% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }

    69% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -4rem, 0);
        transform: translate3d(0, -4rem, 0);
    }
}

@-webkit-keyframes coast {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    23% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(16rem, 0, 0);
        transform: translate3d(16rem, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(16rem, 0, 0);
        transform: translate3d(16rem, 0, 0);
    }
}

@keyframes coast {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    23% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(16rem, 0, 0);
        transform: translate3d(16rem, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(16rem, 0, 0);
        transform: translate3d(16rem, 0, 0);
    }
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        width: 2.2rem;
    }

    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    23% {
        width: 2.2rem;
    }

    32% {
        width: 6.1rem;
    }

    42% {
        width: 5rem;
        -webkit-transform: rotateY(0deg) scale(1, 1);
        transform: rotateY(0deg) scale(1, 1);
    }

    51% {
        -webkit-transform: rotateY(90deg) scale(0.6, 0.2);
        transform: rotateY(90deg) scale(0.6, 0.2);
    }

    52% {
        -webkit-transform: rotateY(90deg) scale(0);
        transform: rotateY(90deg) scale(0);
    }

    100% {
        -webkit-transform: rotateY(90deg) scale(0);
        transform: rotateY(90deg) scale(0);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        width: 2.2rem;
    }

    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    23% {
        width: 2.2rem;
    }

    32% {
        width: 6.1rem;
    }

    42% {
        width: 5rem;
        -webkit-transform: rotateY(0deg) scale(1, 1);
        transform: rotateY(0deg) scale(1, 1);
    }

    51% {
        -webkit-transform: rotateY(90deg) scale(0.6, 0.2);
        transform: rotateY(90deg) scale(0.6, 0.2);
    }

    52% {
        -webkit-transform: rotateY(90deg) scale(0);
        transform: rotateY(90deg) scale(0);
    }

    100% {
        -webkit-transform: rotateY(90deg) scale(0);
        transform: rotateY(90deg) scale(0);
    }
}
